<section id="apropos" class="about">
            <div class="container">
                <h2 class="fade-in">À propos du Hackathon</h2>
                <div class="about-content">
                    <div class="about-text fade-in">
                        <p>Dans le cadre de sa stratégie de réudction des charges, L'ONEA (Office National de l'Eau et de l'Assainissement) s'est engagée à optimiser sa consommation énergétique tout en garantissant un service de qualité. Dans ce cadre, l'introduction de solutions basées sur l'intelligence artificielle (IA) représente une opportunité stratégique pour réduire les charges d'énergie et améliorer l'efficacité opérationnelle.</p>
                        
                        <p>.</p>
                        
                        <p><strong>Objectifs :</strong></p>
                        <ul style="margin-left: 2rem; margin-top: 1rem;">
                            <li>Explorer des solutions innovantes utilisant l'IA pour analyser et optimiser la consommation énergétique.</li>
                            <li>Développer des prototypes d'applications ou d'outils qui peuvent être intégrés dans les opérations de l'ONEA.</li>
                            <li>Promouvoir la collaboration entre développeurs, data scientists, ingénieurs et experts du secteur de l'énergie.</li>
                        </ul>
                    </div>
                    <div class="about-image fade-in">💧🚀</div>
                </div>
            </div>
</section>