<section id="programme" class="program">
    <div class="container">
        {% if hackathon %}
            <h2 class="fade-in">Programme du Hackathon {{ hackathon.nom }}</h2>
            <div class="timeline">
                {% for item in programmes %}
                <div class="timeline-item">
                    <div class="timeline-content">
                        <div class="timeline-date">
                            {{ item.dateProgramme|date:"l d F Y" }}
                        </div>
                        <div class="timeline-title">{{ item.programme }}</div>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
                {% empty %}
                <p>Aucun programme disponible pour ce hackathon.</p>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun hackathon actif trouvé.</p>
        {% endif %}
    </div>
</section>
